<form autocomplete="off" name="flow-form" id="flow-form" action=`/interaction/${input.uid}/flow` method="post">
  <input type="hidden" name="fcl" id="fcl" value="xd241q">
  <button id="flow-action" name="flow-action" type="submit" aria-busy="true" disabled>Login with flow</button>
</form>
